.pause-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.overlay-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gassian, black, 2, 1.0, 1, 1);
}
.overlay-button {
    -fx-font-size: 18px;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 3);
}

.resume-button {
    -fx-background-color: #4CAF50; /* Green */

}

.quit-button {
    -fx-background-color: #f44336; /* Red */
}