.game-over-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.game-over-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.game-over-subtitle {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.restart-button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 220;
    -fx-pref-height: 50;
    -fx-background-color: #f44336; /* Red */
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 3);
    -fx-border-width: 0;
}
