.shop-view-minimal {
    -fx-background-color: #BBAAFF;
}

.simple-feedback {
    -fx-font-size: 11px;
    -fx-text-fill: #aaaaaa;
    -fx-font-family: "Arial";
    -fx-letter-spacing: 1px;
}

.rounded-card {
    -fx-background-color: #ffffff;
    -fx-border-color: #eeeeee;
    -fx-border-width: 1.5;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-min-width: 110;
    -fx-min-height: 80;
    -fx-cursor: hand;
}

.rounded-card:hover {
    -fx-border-color: #333333;
    -fx-background-color: #fafafa;
}

.card-name {
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.card-price {
    -fx-font-size: 11px;
    -fx-text-fill: #777777;
}
